<app-intro></app-intro>
<div style="max-width: 1440px; margin: 0 auto;">

    <div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
        <div class="content">
            <div class="nav-buttons" fxHide.gt-sm>
                <div class="button">Chefs</div>
                <div role="button" aria-label="מעבר לעמוד מסעדות" (click)='r.navigateByUrl("restaurants")'
                    class="button">Restaurants</div>
            </div>
            <h2 aria-label="המסעדות הפופולאריות שלנו" class="popular-rest">THE POPULAR RESTAURANTS IN EPICURE :</h2>
            <swiper [config]='config'>
                <div class="card" *ngFor='let restaurant of restaurantsService.allRestaurants'>
                    <app-card tabindex="0" [restaurant]="restaurant.name" [chef]="restaurant.chef.name"
                        [img_src]='"assets/" + restaurant.img_src'>
                    </app-card>
                </div>
            </swiper>
            <h2 aria-label="מעבר לרשימת המסעדות" class="all-restaurants" fxHide.lt-md>All
                Restaurants <img src="assets/all-restaurants-arrows.svg" alt='All Restaurants'></h2>
            <div aria-label="מנות הדגל של:" class="signature-dish">SIGNATURE DISH OF :</div>
            <swiper [config]='dishConfig'>
                <div class="card" *ngFor='let dish of dishesService.dishes'>
                    <p class="title">{{dish.restaurant.name}}</p>
                    <app-dish-card tabindex="0" [dish_name]="dish.dish_name" [description]="dish.description"
                        [img_src]='"assets/"+dish.img_src' [icon]='"assets/"+dish.icon' [price]="'88'">
                    </app-dish-card>
                </div>
            </swiper>
        </div>
        <app-icon-meaning></app-icon-meaning>
        <app-chef-of-the-week></app-chef-of-the-week>
        <app-about></app-about>
        <app-footer></app-footer>
    </div>
</div>