<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <div class="burger" fxHide.gt-sm>
            <img style="margin-top: 11px;" src="assets/group-13.svg">
        </div>
        <div class="title-logo">
            <img src="assets/logo.jpg"  class="Logo">
            <span class="epicure" fxHide.lt-md>EPICURE</span>
            <span class="Restaurants" fxHide.lt-md>Restaurants</span>
            <span class="Chefs" fxHide.lt-md>Chefs</span>
        </div>
        <div class="icons">
            <input fxHide.fxLayout.lt-md class="Search-Field" id="search" name="search" type="text"
                placeholder="Search for restaurants cuisine, chef">
            <div class="icon-pics">
                <img src="assets/search-icon.svg" alt="search-icon" class="solo-search-icon" fxHide.gt-md>
                <img src="assets/user-icon.svg" class="User-icon">
                <img src="assets/bag-icon.svg" class="Bag-icon">
            </div>
        </div>
    </div>

</div>