@import '../../../assets/base.styles.scss';
.wrapper{
    @extend %flex-column;
    text-align: center;
    margin: 40px auto;
}
.table{
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
    table{
        width: 100%;
        td{
            padding: 10px;
        }
        .description{
            width: 25%;
        }
    }
}

@media only screen and (max-width : 960px) {
    .table{
        width: 80%;
        margin: 0 auto;
    }
}