@media only screen and (max-width: 1439px) {
  .desktop .wrapper {
    background-size: auto !important;
  }
}

.desktop .wrapper {
  width: 100%;
  height: 696px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../../assets/hero-picture.jpg") no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desktop .wrapper .content {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  height: 222px;
  width: 54.5%;
  max-width: 781px;
  background-color: rgba(255, 255, 255, 0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop .wrapper .description {
  width: 60%;
  font-size: 35px;
  letter-spacing: 1.07px;
  min-width: 500px;
  font-weight: 300;
  height: 73px;
  text-align: center;
  line-height: 1;
}

.desktop .wrapper input[type="text"] {
  width: 511px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  padding: 7px 18px 0 0px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.6px gray;
  text-align: center;
}

.desktop .wrapper input::-webkit-input-placeholder {
  opacity: 0.53;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.87px;
  font-family: HelveticaNeueLight;
  text-align: center;
  color: black;
}

.desktop .wrapper input:-ms-input-placeholder {
  opacity: 0.53;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.87px;
  font-family: HelveticaNeueLight;
  text-align: center;
  color: black;
}

.desktop .wrapper input::-ms-input-placeholder {
  opacity: 0.53;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.87px;
  font-family: HelveticaNeueLight;
  text-align: center;
  color: black;
}

.desktop .wrapper input::placeholder {
  opacity: 0.53;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.87px;
  font-family: HelveticaNeueLight;
  text-align: center;
  color: black;
}

.desktop .wrapper input#search {
  background: url("../../../assets/search-icon.svg");
  background-size: 31px 31px;
  background-position: 4.1%;
  background-repeat: no-repeat;
  text-indent: 20px;
}

.desktop .wrapper input#search:focus {
  background-image: none;
  text-indent: 0;
}

.mobile .wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 270px;
  background: url("/assets/screen-shot-2019-01-06-at-10-56-44.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile .wrapper .content {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  height: 125px;
  width: 90%;
  max-width: 380px;
  background-color: rgba(255, 255, 255, 0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .wrapper .description {
  width: 70%;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 11px;
}

.mobile .wrapper input[type="text"] {
  height: 33px;
  width: 270px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.6px gray;
  text-align: center;
}

.mobile .wrapper input#search {
  background: url("../../../assets/search-icon.svg");
  background-size: 15px 15px;
  background-position: 4.1%;
  background-repeat: no-repeat;
  text-indent: 20px;
}

.mobile .wrapper input#search:focus {
  background-image: none;
  text-indent: 0;
}
/*# sourceMappingURL=intro.component.css.map */