.desktop .Restaurants, .desktop .Chefs, .desktop input::-webkit-input-placeholder, .mobile .Restaurants, .mobile .Chefs {
  font-weight: 100;
}

.desktop .Restaurants, .desktop .Chefs, .desktop input:-ms-input-placeholder, .mobile .Restaurants, .mobile .Chefs {
  font-weight: 100;
}

.desktop .Restaurants, .desktop .Chefs, .desktop input::-ms-input-placeholder, .mobile .Restaurants, .mobile .Chefs {
  font-weight: 100;
}

.desktop .Restaurants, .desktop .Chefs, .desktop input::placeholder, .mobile .Restaurants, .mobile .Chefs {
  font-weight: 100;
}

.mobile .wrapper .icon-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop .wrapper {
  max-width: 1440px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: HelveticaNeue;
  margin: 0 auto;
  border-bottom: solid 0.2px #979797;
}

.desktop .wrapper .title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktop .wrapper .title-logo:hover {
  cursor: pointer;
}

.desktop .wrapper .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop .Logo {
  height: 33px;
}

.desktop .epicure {
  font-size: 27px;
  font-weight: 100;
}

.desktop .Restaurants {
  font-size: 18px;
  letter-spacing: 1.92px;
  margin-left: 20px;
}

.desktop .Chefs {
  font-size: 18px;
}

.desktop input[type="text"] {
  min-width: 362px;
  max-width: 415px;
  height: 34px;
  margin-left: 10%;
  padding: 3px 0 0 6px;
  letter-spacing: 0.29px;
  font-size: 18px;
  border-radius: 4px;
  border: solid 0.5px gray;
  background-color: rgba(255, 255, 255, 0.11);
  width: 100%;
}

.desktop input::-webkit-input-placeholder {
  height: 21px;
  opacity: 0.8;
  font-size: 17px;
}

.desktop input:-ms-input-placeholder {
  height: 21px;
  opacity: 0.8;
  font-size: 17px;
}

.desktop input::-ms-input-placeholder {
  height: 21px;
  opacity: 0.8;
  font-size: 17px;
}

.desktop input::placeholder {
  height: 21px;
  opacity: 0.8;
  font-size: 17px;
}

.desktop input#search {
  background: url("../../../assets/search-icon.svg");
  background-size: 22px 22px;
  background-position: 96%;
  background-repeat: no-repeat;
  text-indent: 20px;
}

.desktop input#search:focus {
  background-image: none;
  text-indent: 0;
}

.desktop .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.desktop .icon-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14%;
}

.desktop .User-icon {
  height: 23px;
}

.desktop .Bag-icon {
  height: 22px;
}

.desktop .solo-search-icon {
  display: none;
}

.mobile .wrapper {
  width: 100%;
  margin: 0 auto;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 0.2px #979797;
  padding: 0 20px 0 20px;
}

.mobile .wrapper .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 6%;
}

.mobile .wrapper .icons img {
  height: 18px;
  width: 18px;
}

.mobile .wrapper .burger {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mobile .wrapper .icon-pics {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile .wrapper .Logo {
  height: 33px;
}

.mobile .wrapper .title-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.mobile .wrapper .title-logo:hover {
  cursor: pointer;
}

.mobile .epicure {
  height: 32px;
  margin: 6px 31px 1px 15px;
  font-size: 27px;
  font-weight: 100;
}

.mobile .Restaurants {
  height: 21px;
  margin: 7px 28px 6px 0px;
  font-size: 18px;
}

.mobile .Chefs {
  height: 21px;
  margin: 7px 292px 6px 0;
  font-size: 18px;
}

.mobile input {
  display: none;
}

.mobile .Bag-icon {
  height: 22px;
  margin: 7px 0 5px 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (min-width: 1441px) {
  .wrapper {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 100% !important;
    max-width: initial !important;
    padding: 0 20px 0 20px;
  }
  .wrapper .icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .wrapper .icons .icon-pics {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .desktop .wrapper .icon-pics {
    width: 20%;
    margin-left: 35px;
  }
}

@media only screen and (max-width: 1250px) {
  .desktop .wrapper .title-logo {
    width: 33%;
  }
  .desktop .wrapper input {
    margin: 0 !important;
  }
  .desktop .wrapper .icons {
    width: 52%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1249px) {
  .desktop .wrapper .solo-search-icon {
    display: none;
  }
  .desktop .wrapper .title-logo {
    width: 37%;
  }
}
/*# sourceMappingURL=header.component.css.map */