<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <div aria-label="תפריט" class="burger" fxHide.gt-sm>
            <button [mat-menu-trigger-for]='menu'>
                <img style="margin-top: 11px;" src="assets/group-13.svg">
            </button>
            <mat-menu #menu="matMenu">
                <button (click)='r.navigateByUrl("")' mat-menu-item>Home</button>
                <button (click)='r.navigateByUrl("restaurants")' mat-menu-item>Restaurants</button>
                <button (click)='r.navigateByUrl("reviews")' mat-menu-item>Reviews</button>
                <button (click)='openDialog()' mat-menu-item>Cart</button>
            </mat-menu>
        </div>
        <div class="title-logo">
            <img tabindex="0" aria-label="מעבר לדף הבית" (click)='r.navigateByUrl("")' src="assets/logo.jpg"
                class="Logo">
            <span tabindex="0" aria-label="מעבר לדף הבית" (click)='r.navigateByUrl("")' class="epicure"
                fxHide.lt-md>EPICURE</span>
            <span tabindex="0" aria-label="מעבר לעמוד המסעדות" (click)='r.navigateByUrl("restaurants")'
                class="Restaurants" fxHide.lt-md>Restaurants</span>
            <span aria-label="מעבר לעמוד שפים" class="Chefs" fxHide.lt-md>Chefs</span>
            <span aria-label="מעבר לעמוד שפים" class="Chefs" fxHide.lt-md (click)='openDialog()'>Cart</span>
            <span aria-label="מעבר לעמוד ביקורות" class="Chefs" fxHide.lt-md
                (click)='r.navigateByUrl("reviews")'>Reviews</span>
        </div>
        <div class="icons">
            <input aria-label="שדה חיפוש מסעדות" fxHide.fxLayout.lt-md class="Search-Field" id="search" name="search"
                type="text" placeholder="Search for restaurants, cuisine & chef">
            <div class="icon-pics">
                <img src="assets/search-icon.svg" alt="search-icon" class="solo-search-icon" fxHide.gt-md>
                <img src="assets/user-icon.svg" alt="user-icon" class="User-icon">
                <img src="assets/bag-icon.svg" alt="bag-icon" class="Bag-icon">
            </div>
        </div>
    </div>

</div>