@import '../../../assets/base.styles.scss';
.desktop{
  .wrapper{
    max-width: 1440px;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: HelveticaNeue;
    margin: 0 auto;
    border-bottom: solid 0.2px #979797;
    .title-logo{
      display: flex;
      align-items: center;
      width: 26%;
      justify-content: space-between;
    }
    .title-logo:hover{
      cursor: pointer;
    }

    .icons{
      display: flex;
      align-items: center;
    }
    
}

.Logo {
    height: 33px;
  }

.epicure {
    font-size: 27px;
    font-weight: 100;
}

.Restaurants {
  @extend %lightFont;
    font-size: 18px;
    letter-spacing : 1.92px;
    margin-left: 20px;
  }

  .Chefs {
    font-size: 18px;
    @extend %lightFont;
  }

  input[type="text"] {
    min-width: 362px;
    max-width: 415px;
    height: 34px;
    margin-left: 10%;
    padding: 3px 0 0 6px;
    letter-spacing: 0.29px;
    font-size: 18px;
    border-radius: 4px;
    border: solid 0.5px gray;
    background-color: rgba(255, 255, 255, 0.11);
    width: 100%;
  }

  input::placeholder{
    // width: 301px;
    height: 21px;
    opacity: 0.8;
    font-size: 17px;
    @extend %lightFont;
  }

  input#search{
    background: url('../../../assets/search-icon.svg');
      background-size:22px 22px;
      background-position: 96%;
      background-repeat: no-repeat;
      text-indent: 20px;
    }
  input#search:focus {
    background-image:none;
    }
  .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  .icon-pics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14%;
  }
  .User-icon {
    height: 23px;
  }

  .Bag-icon {
    height: 22px;
  }
.solo-search-icon{
  display: none;
}

}



  .mobile{
    .wrapper{
      width: 100%;
      margin: 0 auto;
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: solid 0.2px #979797;
      padding: 0 20px 0 20px;
      .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        width: 6%;
        img{
          height: 18px;
          width: 18px;
        }
      }
      .burger{
        flex-grow: 1;
        button{
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
      }
      }

      .icon-pics{
        width: 100%;
        @extend %flex-row;
        justify-content: space-between;
      }
      .Logo {
          height: 33px;
        }
        .title-logo{
          flex-grow: 1;
          text-align: center;
        }
        .title-logo:hover{
          cursor: pointer;
        }
  }
  
  
  .epicure {
      height: 32px;
      margin: 6px 31px 1px 15px;
      font-size: 27px;
      font-weight: 100;
  }
  
  .Restaurants {
    @extend %lightFont;
      height: 21px;
      margin: 7px 28px 6px 0px;
      font-size: 18px;
     ;
    }
  
    .Chefs {
      height: 21px;
      margin: 7px 292px 6px 0;
      font-size: 18px;
      @extend %lightFont;
    }
  
    input{
      display: none;
    }
  
  
    .Bag-icon {
      height: 22px;
      margin: 7px 0 5px 0px;
      object-fit: contain;
    }
  
  }

  @media only screen and (min-width : 1441px) {
    .wrapper{
      justify-content: space-between !important;
      width: 100% !important;
      max-width: initial !important;
      padding: 0 20px 0 20px;
      .icons{
        justify-content: flex-end;
        .icon-pics{
          margin-left: 20px;
        }
      }
    }
  }

.desktop{
  .wrapper{
    @media only screen and (max-width: 1400px) {
      .icon-pics{
        width: 20%;
        margin-left: 35px;
      }
    }
  
    @media only screen and (max-width: 1250px) {
      .title-logo{
        width: 33% ;
      }
      input{
        margin: 0 !important;
      }
      .icons{
        width: 52%;
      }
    }
  
    @media only screen and (min-width: 960px) and(max-width : 1249px) {
      .solo-search-icon{
        display: none;
      }
      .title-logo{
        width: 37%;
      }
    }
  
  }
}

  
  