.desktop .wrapper {
  text-align: center;
  width: 78%;
  margin: 0 auto;
  margin-top: 100px;
}

.desktop .chef-week {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 53px;
  letter-spacing: 2px;
}

.desktop .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desktop .description {
  width: 50%;
  height: 292px;
  font-size: 25px;
  letter-spacing: 1.08px;
  font-weight: 100;
  margin-top: 0;
  text-align: left;
  line-height: 1.2;
}

.desktop .name {
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop .chefs-restaurant {
  height: 30px;
  font-size: 30px;
  font-weight: 100;
  margin: 65px 0 20px 11px;
  text-align: left;
}

.desktop .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desktop .card {
  margin: 0 10px;
}

.desktop .pic {
  background: url("../../../assets/group-15.jpg");
  height: 338px;
  width: 38.4%;
  min-width: 433px;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
}

.desktop .restaurants {
  width: 91%;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
  .desktop .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  .desktop .wrapper {
    width: 95%;
  }
}

.mobile .wrapper {
  margin-top: 70px;
  text-align: center;
}

.mobile .chef-week {
  height: 17px;
  font-size: 14px;
  font-weight: 100;
}

.mobile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .content .pic {
  background: url("../../../assets/untitled-1.jpg");
  position: relative;
  height: 240px;
  width: 90%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mobile .description {
  width: 90%;
  height: 160px;
  font-size: 13.5px;
  font-weight: 300;
  margin-top: 20px;
  letter-spacing: 1.04px;
  text-align: center;
  margin-right: 10px;
  line-height: 1.2;
}

.mobile .name {
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile .chefs-restaurant {
  height: 30px;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  width: 92%;
  margin: 0 auto;
}

.mobile .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 15px;
  width: 80%;
}
/*# sourceMappingURL=chef-of-the-week.component.css.map */