<div class="wrapper">
    <mat-card>
        <mat-card-content>
            <form *ngIf='registered' [formGroup]="loginForm">
                <h2>Epicure Orders System</h2>
                <mat-error *ngIf="loginInvalid">
                    The username or password were not recognised
                </mat-error>
                <mat-form-field class="full-width-input">
                    <input autofocus matInput placeholder="Username" formControlName="username" required>
                    <mat-error>
                        Please provide a valid username
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
            </form>

            <form *ngIf='!registered' [formGroup]="registerForm">
                <h2>Epicure Orders System</h2>
                <mat-error *ngIf="loginInvalid">
                    The username or password were not recognised
                </mat-error>
                <mat-form-field class="full-width-input">
                    <input autofocus matInput placeholder="First Name" formControlName="fname" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input autofocus matInput placeholder="Last Name" formControlName="lname" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input autofocus matInput placeholder="Username" formControlName="username" required>
                    <mat-error>
                        Please provide a valid username
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
            </form>

            <button (click)='registered = !registered' mat-raised-button>{{registered ? "Not Registered ?" :
                "Already Registered ?"}}</button><br>
            <button (click)='handleSubmit()' mat-raised-button color="primary">{{registered ? "Login" :
                "Register"}}</button>
        </mat-card-content>
    </mat-card>
</div>