@import '../../../assets/base.styles.scss';

.desktop{
    .card{
        width: 360px;
        background-color: #f9f4ea;
        display: inline-block;
    }
    
    .card:hover{
        cursor: pointer;
      }
      
    .details{
        background-color: #f9f4ea;
        text-align: center;
        margin: 25px 0 0 0;
    }
    
    .restaurant{
        font-size: 40px;
        letter-spacing: 2.67px;
        width: 230px;
        font-weight: 400;
        padding: 0 9px 0 0;
        line-height: 1.1;
        margin: 0 0 6px 0;
        margin: 0 auto;
        margin-top: -9px
    }
    .chef{
        font-size: 24px;
        font-weight: 100;
        width: 290px;
        height: 140px;
        letter-spacing: 1.6px;
        line-height: 1.2;
        margin: 0 auto;
        margin-top: 17px;
    }
    
    .line{
         width: 112px;
      height: 1px;
      border: solid 0.5px #979797;
      margin: 0px 10px;
     }
    
    .priceContent{
        display: flex;
        flex-direction: column;
        background-color: #f9f4ea;
        height: 98px;
        justify-content: flex-end;
        .price-number{
            font-size: 24.9px;
            font-weight: 100;
            letter-spacing: 1.66px;
        }
        img{
            height: 35px;
            margin:10px 0 15px 0;
        }
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;
    }
    
}




.mobile{
    .card{
    display: inline-block;
    width: 100%;
    @extend %mobileBackgroundColor;
    img{
        width: 100%;
    }
}

.card:hover{
    cursor: pointer;
  }
  
.details{
    @extend %mobileBackgroundColor;
    text-align: center;
}

.restaurant{
    font-size: 27.6px;
    height: 40px;
    margin: 25px 0 0 0;
    margin: 0 auto;
    margin-top: 11px;
    width: 50%;
    margin-bottom: 30px;
    line-height: 1;
}
.chef{
    font-size: 17.3px;
    font-weight: 300;
    padding: 0px 7px;
    height: 70px;
    margin:0 0 0 0;
    line-height: 1.3;
    letter-spacing: 1px;
}

.line{
  width: 76px;
  height: 1px;
  border: solid 0.5px #979797;
  margin: 0px 10px;
 }

.priceContent{
    display: flex;
    flex-direction: column;
    @extend %mobileBackgroundColor;
   justify-content: flex-end;
   height: 110px;

   img{
       height: 60px;
       margin: 0;
       padding: 20px 0px 11px 0px;
}
    
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media only screen and(max-width : 375px) {
    .chef{
        width: 85%;
        margin: 0 auto;
    }
}

}

