<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="card" (click)='openDialog()' *ngIf='dish_name'>
        <img src={{img_src}} alt="">
        <div class="details">
            <p class="restaurant">{{dish_name}}</p>
            <p *ngIf='description' class="chef">{{description}}</p>
        </div>
        <div *ngIf='price' class="priceContent">
            <img *ngIf='icon !== "assets/undefined"' style="margin:10px 0 0px 0;" src={{icon}} alt="">
            <img *ngIf='icon === "assets/undefined"' style="margin:10px 0 0px 0;" src='' alt="">
            <div class="price">
                <div class="line"></div>
                <p class="price-number">₪{{price}}</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <img *ngIf='!dish_name' src={{img_src}} alt="">
</div>