<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="card" *ngIf='restaurant'>
        <img src={{imgSrc}} alt="dish-image">
        <div class="details">
            <p aria-label="מסעדה" class="restaurant">{{restaurant}}</p>
            <p aria-label="שף" *ngIf='chef' class="chef">{{chef}}</p>
        </div>
        <div *ngIf='price' class="priceContent">
            <img src={{icon}} alt="restaurant-image">
            <div class="price">
                <div class="line"></div>
                <p aria-label="מחיר">{{price}}₪</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <img *ngIf='!restaurant' src={{imgSrc}} alt="spice-icon">
</div>