@import '../../../assets/base.styles.scss';

.desktop{
    .card{
        width: 360px;
        background-color: #f9f4ea;
        display: inline-block;
    }
    
    .details{
        background-color: #f9f4ea;
        text-align: center;
        margin: 25px 0 0 0;
    }
    
    .restaurant{
        font-size: 40px;
        letter-spacing: 2.67px;
        line-height: 1.2;
        margin: 0 0 6px 0;
    }
    .chef{
      font-size: 25px;
      font-weight: 100;
      height: 35px;
      letter-spacing: 1.6px;
    }
    
    .line{
         width: 112px;
      height: 1px;
      border: solid 0.5px #979797;
      margin: 0px 10px;
     }
    
    .priceContent{
        display: flex;
        flex-direction: column;
        background-color: #f9f4ea;
        height: 110px;
       justify-content: flex-end;
        
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 24.9px; 
            font-weight: 100;
        }
    }
    img{
        height: 213px;
        width: 100%;
    }
    
}




.mobile{
    .card{
        display: inline-block;
        width: 100%;
        @extend %mobileBackgroundColor;
    img{
        width: 100%;
        height: 224px;
        object-fit: cover;
    }
}
  
.details{
    @extend %mobileBackgroundColor;
    text-align: center;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.restaurant{
    font-size: 27.6px;
}
.chef{
    font-size: 17.3px;
    font-weight: 100;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.33px;
    line-height: 4px;
}

.line{
  width: 76px;
  height: 1px;
  border: solid 0.5px #979797;
  margin: 0px 10px;
 }

.priceContent{
    display: flex;
    flex-direction: column;
    @extend %mobileBackgroundColor;
    margin-top: 20px;
   justify-content: flex-end;
   height: 70px;

   img{
       margin: 0;
       padding: 0px 0 10px 0px;
}
    
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

