@import '../../../assets/base.styles.scss';
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    @extend %flex-column;
    .header{
        width: 41%;
        margin: 0 auto;
        margin-top: 30px;
       
        ul{
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            .active{
                font-weight: 500;
            }
            li{
                font-size: 19px;
                font-weight: 300;
              
            }
        }
    }
    .restaurants{
        @extend %flex-row;
        flex-wrap: wrap;
        .card{
            height: 339px;
            margin: 19px 14px 19px 13px;
        }
    }
}
@media only screen and (max-width : 960px) {
    .card {
        flex: 0 1 25%;
    }
}
@media only screen and (max-width : 760px) {
    .card {
        flex: 0 1 31%;
    }
}
@media only screen and (max-width : 520px) {
    .card{
        flex: 0 1 38%;
    }
}

@media only screen and (max-width : 420px){
    .card {
        flex: 0 1 80%;
    }
}