<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <p class="chef-week">CHEF OF THE WEEK :</p>
        <div class="content">
            <div class="pic">
                <div class="name" fxHide.gt-sm>{{chefService.weeklyChef[0]?.name}}</div>
            </div>
            <p class="description">{{chefService.weeklyChef[0]?.description}}</p>
        </div>
        <div class="restaurants">
            <p class="chefs-restaurant">{{chefService.weeklyChef[0]?.name}} restaurants :</p>
            <swiper [config]='config'>
                <div class="card" *ngFor='let restaurant of chefService.weeklyChef[0]?.restaurants'>
                    <app-chef-restaurant-card [img_src]="'assets/'+restaurant.img_src" [restaurant]='restaurant.name'>
                    </app-chef-restaurant-card>
                </div>
            </swiper>
        </div>
    </div>
</div>