<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <h2 aria-label="שף השבוע" class="chef-week">CHEF OF THE WEEK :</h2>
        <div class="content">
            <div class="pic">
                <img [src]='"assets/"+chefService.weeklyChef?.img_src' alt="chef-image" fxHide.lt-md>
                <div aria-label="שם השף השבועי" class="name" fxHide.gt-sm>{{chefService.weeklyChef?.name}}</div>
            </div>
            <p aria-describedby="description" id="description" class="description">
                {{chefService.weeklyChef?.description}}</p>
        </div>
        <div class="restaurants">
            <p aria-label="מסעדות השף" class="chefs-restaurant">{{chefService.weeklyChef?.name}} restaurants :</p>
            <swiper [config]='config'>
                <div class="card" *ngFor='let restaurant of chefService.weeklyChef?.restaurants'>
                    <app-chef-restaurant-card [img_src]="'assets/'+restaurant?.img_src" [restaurant]='restaurant.name'>
                    </app-chef-restaurant-card>
                </div>
            </swiper>
        </div>
    </div>
</div>