<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <img class="img" src={{data.img_src}} alt="background-img">
        <div class="content">
            <div class="head">
                <div aria-describedby="title" id='title' class="title" mat-dialog-title> {{data.dish_name}}</div>
                <div aria-describedby="description" id="description" class="description" mat-dialog-content>
                    {{data.description}}</div>
                <div class="price">
                    <div class="line"></div>
                    <p aria-label="מחיר המנה" style=" font-size: 24.9px; font-weight: 400;">₪{{data.price}}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div role="radiogroup" class="side-dish">
                <p aria-label="בחר תוספות בצד" class="side-title">Choose a side</p>
                <mat-radio-button #radio1 [attr.aria-checked]='radio1.checked' role="radio" aria-label="לחם לבן"
                    class="example-margin">
                    White Bread
                </mat-radio-button> <br>
                <mat-radio-button #radio2 [attr.aria-checked]='radio2.checked' role="radio" aria-label="אורז דביק"
                    class="example-margin">Sticky
                    Rice
                </mat-radio-button>
            </div>
            <div class="side-dish">
                <p aria-label="שינויים במנה" class="side-title">Changes</p>
                <mat-checkbox #checkbox1 [attr.aria-checked]='checkbox1.checked' role="checkbox" aria-label="ללא בוטנים"
                    class="example-margin">Without Peanuts
                </mat-checkbox>
                <mat-checkbox #checkbox2 [attr.aria-checked]='checkbox2.checked' role="checkbox" aria-label="לא חריף"
                    class="example-margin">Less Spicy
                </mat-checkbox>
            </div>
            <p style="margin: 70px 0 0 0;" class="side-title">Quantity</p>
            <div class="quantity">
                <button aria-label="החסר כמות כוללת" (click)='decrement()' class="action">-</button>
                <p>{{quantity}}</p>
                <button>
                    <img aria-label="הוסף לכמות הכוללת" (click)="increment()" class="action" src="assets/plus.svg"
                        alt="+ image">
                </button>
            </div>
        </div>
        <button aria-label="הוספה לסל הקניות" id="button" mat-button mat-dialog-close>ADD TO BAG </button>
    </div>
</div>