@import '../../../assets/base.styles.scss';

.desktop{
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      text-align: center;
      width: 78%;
      margin: 0 auto;
    }

  app-card{
      height: 100%;
  }
  .cards{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .popular-rest{
    font-size: 30px;
    margin: 0 0 42px 0;
    line-height: 1.53;
    height: 40px;
    letter-spacing: 1.05px;
    font-weight: 300;
    margin-top: 140px;
  }

  .all-restaurants{
       font-size: 30px;
       text-align: right;
       letter-spacing: 2.3px;
       margin: 33px 10px 0 0;
       line-height: 1;
  }
  
  .signature-dish{
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 42px;
    text-align: center;
    margin-top: 90px;
    letter-spacing: 1.25px;
    line-height: 1.3;
  }
  
  .card{
    display: flex;
    flex-direction: column;
  }
  
  .title{
   margin-bottom: 23px;
   letter-spacing: 1.77px;
   height: 28px;
   font-size: 30px;
   font-weight: 300;
   margin-top: 12px;
  }
  
  app-icon-meaning{
    width: 100%;
  }
}

// ------------- Mobile --------------------

.mobile{
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      .nav-buttons{
        width: 100%;
        @extend %flex-row;
        background-color: #fafafa;
        height: 125px;
        .button{
          @extend %flex-row;
          font-size: 16px;
          padding: 15px;      
          font-weight: 500;
          margin: 0 10px;
          background-color: rgba(232, 196, 122, 0.8);
          height: 43px;
          letter-spacing: 0.93px;
        }
      }

      .popular-rest{
        margin: 51px 0 13px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        letter-spacing: 0.93px;
      }
    }
  
  app-card{
      height: 100%;
  }
  .cards{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .all-restaurants{
    height: 35px;
    font-size: 30px;
    margin-top: 31px;
    text-align: right;
    margin-right: 1.6%;
  }
  
  .signature-dish{
    height: 17px;
    font-size: 14px;
    margin-top: 96px;
    margin-bottom: 13px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1.1px;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
    width: 80%;
  }
  
  .title{
    font-size: 16px;
    font-weight: 500;
   
  }
  @media only screen and(max-width:375px) {
    .title{
      width: 130% ;
    }
  }
  
  app-icon-meaning{
    width: 100%;
  }
}
