<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <h2 aria-label="משמעות הסמלים שלנו" class="title">THE MEANING OF OUR ICONS :</h2>
        <div class="icons">
            <div class="icon">
                <img class="image" src="assets/spicy-icon.svg" alt="spicy-icon"><br>
                <p aria-label="חריף" class="icon-name"> Spicy</p>
            </div>
            <div class="icon">
                <img class="image" class="icon" src="assets/vegetarian.svg" alt="vegetarian-icon"><br>
                <p aria-label="צמחוני" class="icon-name">Vegitarian</p>
            </div>
            <div class="icon">
                <img class="image" src="assets/vegan-icon.svg" alt="vegan-icon"><br>
                <p aria-label="טבעוני" class="icon-name">Vegan</p>
            </div>
        </div>
    </div>
</div>