<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <p class="title">THE MEANING OF OUR ICONS :</p>
        <div class="icons">
            <div class="icon">
                <img style="width: 80px; height: 61px;" src="assets/spicy-icon.svg" alt=""><br>
                <p class="icon-name"> Spicy</p>
            </div>
            <div class="icon">
                <img style="width: 60px; height: 60px;" class="icon" src="assets/vegetarian.svg" alt=""><br>
                <p class="icon-name">Vegitarian</p>
            </div>
            <div class="icon">
                <img style="width: 67px; height: 67px;" src="assets/vegan-icon.svg" alt=""><br>
                <p class="icon-name">Vegan</p>
            </div>
        </div>
    </div>
</div>