<div class="wrapper">
    <h2 mat-dialog-title>Edit : {{data.item.name || data.item.dish_name}}</h2>
    <div class="form">


        <form [formGroup]='editForm'>
            <mat-form-field *ngIf='data.selectedCategory==="restaurants" || data.selectedCategory==="chefs"'>
                <mat-label>Name</mat-label>
                <input matInput formControlName='name' placeholder="Yummi Yum">
                <mat-error *ngIf="editForm.controls.name.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf='data.selectedCategory==="dishes"'>
                <mat-label>Name</mat-label>
                <input matInput formControlName='dish_name' placeholder="Yummi Yum">
                <mat-error *ngIf="editForm.controls.dish_name.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='data.selectedCategory==="restaurants"'>
                <mat-label>{{data.item.chef.name}}</mat-label>
                <mat-select formControlName='chef'>
                    <mat-option *ngFor="let chef of chefService.chefs" [value]="chef._id">
                        {{chef.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='data.selectedCategory==="dishes"'>
                <mat-label>{{data.item.restaurant.name}}</mat-label>
                <mat-select formControlName='restaurant'>
                    <mat-option *ngFor="let restaurant of restaurantsService.restaurants" [value]="restaurant._id">
                        {{restaurant.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf='data.selectedCategory ==="dishes"'>
                <mat-label>Dish Price</mat-label>
                <input min="0" type="number" matInput formControlName='dish_price' placeholder="120">
                <mat-error *ngIf="editForm.controls.dish_price.hasError('required')">
                    Price is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Image source</mat-label>
                <input matInput formControlName='img_src' placeholder="something.jpg">
                <mat-error *ngIf="editForm.controls.img_src.hasError('required')">
                    Image source is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="restaurants" *ngIf='data.selectedCategory==="chefs"'>
                <mat-form-field appearance="fill" *ngFor="let control of restaurants.controls; index as i">
                    <mat-label>{{restaurants.value[i].name}}</mat-label>
                    <button (click)='removeRestaurant(i)' mat-icon-button matSuffix>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-select [formControl]='restaurants.controls[i]'>
                        <mat-option *ngFor="let restaurant of restaurantsService.restaurants" [value]="restaurant._id">
                            {{restaurant.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button (click)='addRestaurants()' mat-raised-button color='accent'>Add Restaurant</button>
            </div>

        </form>
    </div>
    <div>
        <button mat-dialog-close mat-raised-button color='warn'>Close</button>
        <button *ngIf='editForm' [disabled]='editForm.invalid || restaurants?.controls.length === 0'
            (click)='editItem()' mat-dialog-close mat-raised-button color='primary'>Edit</button>
    </div>
</div>